In [19]:
import os
import pandas as pd

# current_dir = os.path.dirname(os.path.abspath(__file__))
# path = os.path.join(current_dir,)
path =  '../../store_data/process/market_data/sector/'

available_sector_list = os.listdir(path)
OHLCV_df_columns = [
    'Open', 'High', 'Low', 'Close', 'Volume', 'Transaction_Val', 'Market_Cap', 'Date',
    'MA_20', 'RSI_14', 'BBL_20_2.0', 'BBM_20_2.0', 'BBU_20_2.0', 'BBB_20_2.0', 'BBP_20_2.0'
]

In [20]:
sector = '코스피'
start_date = '20190101'
end_date = '20191231'

def index_price_info(sector: str, start_date: str, end_date: str) -> pd.DataFrame:
    '''
    인덱스명, 시작일, 종료일을 파라미터로 입력하면

    'Open', 'High', 'Low', 'Close', 'Volume', 'Transaction_Val', 'Market_Cap', 'Date',
    'MA_20', 'RSI_14', 'BBL_20_2.0', 'BBM_20_2.0', 'BBU_20_2.0', 'BBB_20_2.0', 'BBP_20_2.0'

    다음 컬럼에 해당하는 정보를 반환함.
    '''
    if sector in available_sector_list:
        # 경로 설정
        df_path = os.path.join(path, sector)
        csv_path = os.path.join(df_path, f'{sector}_indicators.csv')

        # CSV 파일 읽기
        df = pd.read_csv(csv_path, index_col=0)

        print(df)
        df.columns = OHLCV_df_columns  # 컬럼 이름 재설정

        # 날짜 컬럼을 datetime으로 변환 후 인덱스로 설정
        df['Date'] = pd.to_datetime(df['Date'])
        df.set_index('Date', inplace=True)

        # 시작일과 종료일 사이 데이터 필터링
        return_df = df.loc[start_date:end_date]

        return return_df
    else:
        print(f'{sector}에 해당하는 가격 정보를 찾을 수 없습니다!')
        return None

In [21]:
'''
인덱스명, 시작일, 종료일을 파라미터로 입력하면

'Open', 'High', 'Low', 'Close', 'Volume', 'Transaction_Val', 'Market_Cap', 'Date',
'MA_20', 'RSI_14', 'BBL_20_2.0', 'BBM_20_2.0', 'BBU_20_2.0', 'BBB_20_2.0', 'BBP_20_2.0'

다음 컬럼에 해당하는 정보를 반환함.
'''
if sector in available_sector_list:
    # 경로 설정
    df_path = os.path.join(path, sector)
    csv_path = os.path.join(df_path, f'{sector}_indicators.csv')

    # CSV 파일 읽기
    df = pd.read_csv(csv_path, index_col=0)

    df.columns = OHLCV_df_columns  # 컬럼 이름 재설정

    # 날짜 컬럼을 datetime으로 변환 후 인덱스로 설정
    df['Date'] = pd.to_datetime(df['Date'])
    df.set_index('Date', inplace=True)

    start_date = pd.to_datetime(start_date).date()
    end_date = pd.to_datetime(end_date).date()

    # 시작일과 종료일 사이 데이터 필터링
    return_df = df.loc[start_date:end_date]

else:
    print(f'{sector}에 해당하는 가격 정보를 찾을 수 없습니다!')

In [27]:
start_date = '20190101'
end_date = '20191231'

start_date = pd.to_datetime(start_date).date()
end_date = pd.to_datetime(end_date).date()

start_date

datetime.date(2019, 1, 1)

In [32]:
start_date

df.loc[start_date:]

,Open,High,Low,Close,Volume,Transaction_Val,Market_Cap,MA_20,RSI_14,BBL_20_2.0,BBM_20_2.0,BBU_20_2.0,BBB_20_2.0,BBP_20_2.0
Date,,,,,,,,,,,,,,
2023-01-02,2249.95,2259.88,2222.37,2225.67,346344799,5200137586818,1759241799519040,2077.9060,71.056094,1993.017977,2077.9060,2162.794023,8.170535,1.370347
2023-01-03,2230.98,2230.98,2180.67,2218.68,410245325,6149082624890,1753771077018843,2082.2435,69.624369,1979.722936,2082.2435,2184.764064,9.847125,1.165410
2023-01-04,2205.98,2260.06,2198.82,2255.98,412841149,6487597995523,1783808765569816,2089.3250,72.776593,1962.279401,2089.3250,2216.370599,12.161401,1.155887
2023-01-05,2268.20,2281.39,2252.97,2264.65,430977022,7521178466245,1791816776272757,2097.4920,73.465866,1949.192210,2097.4920,2245.791790,14.140678,1.063581
2023-01-06,2253.40,2300.62,2253.27,2289.97,398606581,6764112169245,1811418923114710,2108.5560,75.422945,1939.007115,2108.5560,2278.104885,16.081990,1.034990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-21,2598.37,2610.81,2587.16,2600.02,578334789,9467808991589,2080482827882262,2530.8725,66.633359,2461.599425,2530.8725,2600.145575,5.474245,0.999094
2023-12-22,2617.72,2621.37,2599.51,2599.51,465967201,8848287882829,2082855844704432,2536.0165,66.489890,2462.527538,2536.0165,2609.505462,5.795622,0.931993
2023-12-26,2609.44,2612.14,2594.65,2602.59,440428129,9582765574870,2085608165140366,2541.3630,66.952664,2464.897557,2541.3630,2617.828443,6.017672,0.900357
2023-12-27,2599.35,2613.50,2590.08,2613.50,349733378,10359763878782,2093997127111758,2545.9500,68.606497,2463.933565,2545.9500,2627.966435,6.442894,0.911808
2023-12-28,2616.27,2655.28,2611.72,2655.28,460086621,9418929602384,2126372515851046,2552.7235,73.977265,2458.930514,2552.7235,2646.516486,7.348464,1.046717